[submodule "Vi/Vendor/glfw"]
	path = Vi/Vendor/glfw
	url = https://github.com/Drockk/glfw.git
[submodule "Vi/Vendor/spdlog"]
	path = Vi/Vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Vi/Vendor/eventpp"]
	path = Vi/Vendor/eventpp
	url = https://github.com/wqking/eventpp.git
[submodule "Vi/vendor/Box2D"]
	path = Vi/vendor/Box2D
	url = https://github.com/Drockk/box2d.git
[submodule "Vi/Vendor/imgui"]
	path = Vi/Vendor/imgui
	url = https://github.com/Drockk/imgui.git
[submodule "Vi/Vendor/yaml-cpp"]
	path = Vi/Vendor/yaml-cpp
	url = https://github.com/Drockk/yaml-cpp.git
[submodule "Vi/Vendor/glm"]
	path = Vi/Vendor/glm
	url = https://github.com/g-truc/glm.git
