[submodule "Vi/Vendor/glfw"]
	path = Vi/Vendor/glfw
	url = https://github.com/Drockk/glfw.git
[submodule "Vi/Vendor/vk-bootstrap"]
	path = Vi/Vendor/vk-bootstrap
	url = https://github.com/Drockk/vk-bootstrap.git
[submodule "Vi/Vendor/glm"]
	path = Vi/Vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Vi/Vendor/VulkanMemoryAllocator"]
	path = Vi/Vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Vi/Vendor/spdlog"]
	path = Vi/Vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Vi/vendor/glfw"]
	path = Vi/vendor/glfw
	url = https://github.com/Drockk/glfw.git
[submodule "Vi/vendor/vk-bootstrap"]
	path = Vi/vendor/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
