[submodule "Vi/Vendor/glfw"]
	path = Vi/Vendor/glfw
	url = https://github.com/Drockk/glfw.git
[submodule "Vi/Vendor/spdlog"]
	path = Vi/Vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Vi/Vendor/eventpp"]
	path = Vi/Vendor/eventpp
	url = https://github.com/wqking/eventpp.git
